$white-color : #fff;
$black-color:#333;
$reserve-color:#978F10;
$btn-color:#707070;
@mixin humberger {
    /*=============================
  .btn-trigger
  =============================*/
  .btn-trigger {
    position: relative;
    width: 38px;
    height: 32px;
    margin-top: 10px;
    cursor: pointer;
  }
  .btn-trigger span {
    position: absolute;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    z-index: 4;
  }
  .btn-trigger, .btn-trigger span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
    z-index: 6;
  }
  .btn-trigger span:nth-of-type(1) {
    top: 0;
  }
  .btn-trigger span:nth-of-type(2) {
    top: 14px;
  }
  .btn-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  /*=============================
  #btn01
  =============================*/
  #btn01 .active span:nth-of-type(1) {
    -webkit-transform: translateY(14px) rotate(-45deg);
    transform: translateY(14px) rotate(-45deg);
  }
  #btn01 .active span:nth-of-type(2) {
    opacity: 0;
  }
  #btn01 .active span:nth-of-type(3) {
    -webkit-transform: translateY(-14px) rotate(45deg);
    transform: translateY(-14px) rotate(45deg);
  }
  /*============
  #mask
  =============*/
  #mask {
    display: none;
    transition: all .5s;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
  }
  #modal_mask{
    display: none;
  }
  .open #modal_mask{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #707070;
    opacity: .7;
    z-index: 2;
    cursor: pointer;
  }
  
}
@mixin btn-animation(){
  &::after{
    content:"";
    /*絶対配置で線の位置を決める*/
    position: absolute;
    right: 0;
    top: 0;
    background:#707070;
    /*線の形状*/
    width: 0;
    height:1px;
    /*アニメーションの指定*/
    transition: all 0.1s ease;
    z-index: 1;
  }
  &::before{
    content:"";
    /*絶対配置で線の位置を決める*/
    position: absolute;
    left: 0;
    bottom: 0;
    background:#707070;
    /*線の形状*/
    width: 0;
    height:1px;
    /*アニメーションの指定*/
    transition: all 0.1s ease;
    z-index: 1;
  }
  span{
    display: block;
    z-index: 1;
    &::before{
      content:"";
      /*絶対配置で線の位置を決める*/
      position: absolute;
      right: 0;
      bottom: 0;
      background: #707070;
      /*線の形状*/
      width:1px;
      height:0;
      /*アニメーションの指定*/ 
      transition: all 0.2s ease;
      z-index: 1;
    }
    &::after{
      content:"";
      /*絶対配置で線の位置を決める*/
      position: absolute;
      left: 0;
      top: 0;
      background: #707070;
      /*線の形状*/
      width:1px;
      height:0;
      /*アニメーションの指定*/ 
      transition: all 0.1s ease;
      z-index: 1;
    }
  }
  &:hover{
    &::before{
      width: 100%;
      transition-delay: 0.2s;
    }
    &::after{
      width: 100%;
      transition-delay: 0s;
    }
    span{
      &::before{
        height: 100%;
        transition-delay: 0.3s;
      }
      &::after{
        height: 100%;
        transition-delay: 0.1s;
      }
    }
  }
}
html{
  font-size: 62.5%;
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}



    // position: relative;
  header{
    // position: absolute;
    position: fixed;
    color: $white-color;
    height: 80px;
    width: 100%;
    text-align: center;
    transition: .3s;
    z-index: 3;
    @include humberger();
    #btn01{
      display: none;
    }
    .header-container{
      display: flex;
      height: 100%;
      width: 100%;
      padding: 13px 20px;
      h1{
        display: inline-block;
          height: auto;
          width: 200px;
          margin-top: 7px;
        a{
          display: inline-block;
          height: auto;
          width: 200px;
          &:hover{
            opacity: 0.7;
            transition: .6s;
          }
          img{
            height: 100%;
            width: 100%;
          }
          #scroll-logo{
            display: none;
          }
        }
      }
      .menu{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
        margin-left: 90px;
        // position: relative;

        nav{
          .reserve{
            display: none;
          }
          ul{
            display: flex;
            list-style: none;
            margin-top: 19px;
            li{
              a{
                display: inline-block;
                font-size: 1.6rem;
                text-decoration: none;
                margin-left: 30px;
                color: $white-color;
                transition: color .3s;
                &:hover{
                  opacity: 0.7;
                  transition: .6s;
                }
              }
            }
          }
        }
        .modal_book{
          display: none;
        }
          .modal-active{
            display: block;
            max-width: 550px;
            position: fixed;
            top: calc((100vh - 660px) / 2);
            right: calc((100vw - 550px) / 2);
            background: #fff;
            margin: 0 10px;
            z-index: 4;
            .modal_book_top{    
              position: relative;        
              a{
                position: absolute;
                top: 20px;
                right: 22px;
                width: 1.8rem;
                height:1.8rem;
                img{
                  width: 100%;
                  height: 100%;
                }
              }
              h4{
                font-size: 2rem;
                color: #000;
                width: 85%;
                margin: 0 auto;
                padding: 29px;
                border-bottom: 1px solid #e7e7e7;
              }
            }
            form{
              .form-container{
                  text-align: left;
                  width: 85%;
                  margin: 0 auto;
                  .name{
                    margin-top: 35.5px;
                    label{
                      color: #000;
                      font-size: 1.6rem;
                    }
                    input{
                      width: 100%;
                      font-size: 1.4rem;
                      border: 1px solid #e7e7e7;
                      margin-top: 14px;
                      padding: 7px 0 7px 10px;
                    }
                  }
                  .address{
                    margin-top: 14px;
                    label{
                      color: #000;
                      font-size: 1.6rem;
                    }
                    input{
                      width: 100%;
                      font-size: 1.4rem;
                      border: 1px solid #e7e7e7;
                      margin-top: 14px;
                      padding: 7px 0 7px 10px;
                    }
                  }
                  .plan{
                    margin-top: 14px;
                    label{
                      color: #000;
                      font-size: 1.6rem;
                    }
                    select{
                      width: 100%;
                      font-size: 1.4rem;
                      border: 1px solid #e7e7e7;
                      margin-top: 14px;
                      padding: 7px 0 7px 10px;
                    }
                  }
                  .date-select{
                    margin-top: 14px;
                    label{
                      color: #000;
                      font-size: 1.6rem;
                    }
                    input{
                      // color:#000;
                      font-size: 1.6rem;
                      width: 100%;
                      margin-top: 14px;
                      padding: 2px 0 2px 10px;
                      border: 1px solid #E7E7E7;
                    }
                  }
                  .submit-btn{
                    text-align: center;
                    margin-top: 64px;
                    margin-bottom: 90px;
                    input{
                      color:#000;
                      font-size: 1.6rem;
                      padding: 13px 67px;
                      border: 1px solid #707070;
                    }
                  }
                }
              }
            }
          
        
        .reserve{
          display: inline-block;
          color: $white-color;
          background: $reserve-color;
          height: 54px;
          width: 170px;
          padding: 16px 30px;
          text-decoration: none;
          &:hover{
            opacity: 0.7;
            transition: .6s;
          }
          .reserve-container{
            display: flex;
            .calender-img{
              height: 22px;
              width: 22px;
              img{
                height: 100%;
                width: 100%;
              }
            }
            p{
              display: inline-block;
              font-size: 1.6rem;
              margin: 3px 0 0 10px;
            }
          }
        }
      }
    }
    // ヘッダー変化
  }
  .change-color{
    background: rgba(255, 255, 255, 0.9);
    .header-container{
      h1{
        a{
          #top-logo{
            display: none;
          }
          #scroll-logo{
            display: inline-block;
          }
        }
      }
      .menu{
        nav{
          ul{
            li{
              a{
                color: $black-color;
              }
            }
          }
        }
        .btn-trigger{
          span{
            background-color: $black-color;
          }
        }
        .active{
          span{
            background: $white-color;
          }
        }
      }
    }
  }

main{
  .fv{
    position: relative;
    @keyframes zoomUp {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.15);
      }
    }
    
    .swiper-slide-active .slide-img,
    .swiper-slide-duplicate-active .slide-img,
    .swiper-slide-prev .slide-img{
      animation: zoomUp 10s linear 0s 1 normal both;  
    }
    
    //imgタグだと下に隙間ができるのでblockに。
    .slide-img{
      height: 100vh;
      img{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
    .fv-container{
      position: absolute;
      top: 37vh;
      left: 67vw;
      z-index: 2;

      .catch-copy{
        display: flex;
        .catch-copy-1{
          font-size: 3.4rem;
          color: $white-color;
          writing-mode: vertical-rl;
          letter-spacing: 0.8rem;
        }
        .catch-copy-2{
          font-size: 3.4rem;
          color: $white-color;
          writing-mode: vertical-rl;
          letter-spacing: 0.8rem;
          margin-left: 51px;
        }
      }
    }
  }
  //first-copy
  .first-copy{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 681px;
    .fc-container{
      display: flex;
      flex-direction: row-reverse;
      max-width: 1080px;
      padding: 132px 0 0 40px ;
      margin: 0 auto;
      vertical-align: middle;
      justify-content: space-between;
      .fc-name{
        font-size: 2.2rem;
        writing-mode: vertical-rl;
        letter-spacing: 0.7rem;
        margin-top: 311px;
      }
      .fc-messages{
        display: flex;
        flex-direction: row-reverse;
        width: 60%;
        // margin-top: 85px;
        justify-content: space-between;
        .fc-message{
          display: inline-block;
          font-size: 1.6rem;

          writing-mode: vertical-rl;
          text-orientation: upright;
          letter-spacing: 0.6rem;
          // margin-left: 118px;
          line-height: 2.5;
        }
      }
      h2{
        font-size: 2.8rem;
        font-weight: normal;
        writing-mode: vertical-rl;
        margin-right: 40px;
        // margin-left: 378px;
        text-indent: -6.8rem;
        line-height: 2;
      }
    }
  }
  // room
  .room{
    margin-top: 106px;
    .room-container{
      display: flex;
      // width: 88vw;
      margin-right: auto;
      justify-content: space-between;
      justify-content: space-around;
      .room-message{
        // margin-left: 107px;
        padding:0 10px ;
        margin: 0 auto;
        h2{
          font-size: 3.6rem;
          font-weight: normal;
          width: 432px;
        }
        p{
          font-size: 1.6rem;
          line-height: 2;
          max-width: 416px;
          margin-top: 75px;
        }
        .room-btn{
          position: relative;
          display: inline-block;
          font-size: 1.6rem;
          color: $black-color;
          text-decoration: none;
          padding: 20px 44px;
          margin-top: 75px;
          z-index: 1;
          &::after{
            content:"";
            /*絶対配置で線の位置を決める*/
            position: absolute;
            right: 0;
            top: 0;
            background:#707070;
            /*線の形状*/
            width: 0;
            height:1px;
            /*アニメーションの指定*/
            transition: all 0.1s ease;
            z-index: 1;
          }
          &::before{
            content:"";
            /*絶対配置で線の位置を決める*/
            position: absolute;
            left: 0;
            bottom: 0;
            background:#707070;
            /*線の形状*/
            width: 0;
            height:1px;
            /*アニメーションの指定*/
            transition: all 0.1s ease;
            z-index: 1;
          }
          span{
            display: block;
            z-index: 1;
            &::before{
              content:"";
              /*絶対配置で線の位置を決める*/
              position: absolute;
              right: 0;
              bottom: 0;
              background: #707070;
              /*線の形状*/
              width:1px;
              height:0;
              /*アニメーションの指定*/ 
              transition: all 0.2s ease;
              z-index: 1;
            }
            &::after{
              content:"";
              /*絶対配置で線の位置を決める*/
              position: absolute;
              left: 0;
              top: 0;
              background: #707070;
              /*線の形状*/
              width:1px;
              height:0;
              /*アニメーションの指定*/ 
              transition: all 0.1s ease;
              z-index: 1;
            }
          }
          &:hover{
            &::before{
              width: 100%;
              transition-delay: 0.2s;
            }
            &::after{
              width: 100%;
              transition-delay: 0s;
            }
            span{
              &::before{
                height: 100%;
                transition-delay: 0.3s;
              }
              &::after{
                height: 100%;
                transition-delay: 0.1s;
              }
            }
          }
        }
      }
      .room-img{
        height: auto;
        width: 60%;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  // cook
  .cook{
    margin-top: 122px;
    .cook-container{
      display: flex;
      // width: 88vw;
      margin-left: auto;
      flex-direction: row-reverse;
      justify-content: space-between;
      // text-align: right;
      .cook-message{
        margin: 0 auto;
        h2{
          font-size: 3.6rem;
          font-weight: normal;
          // width: 432px;
        }
        p{
          font-size: 1.6rem;
          line-height: 2;
          // max-width: 416px;
          margin-top: 75px;
        }
        .cook-btn{
          position: relative;
          display: inline-block;
          font-size: 1.6rem;
          color: $black-color;
          text-decoration: none;
          padding: 20px 44px;
          margin-top: 75px;
          z-index: 1;
          @include btn-animation();
        }
      }
      .cook-img{
        height: auto;
        width: 60%;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  // bath
  .bath{
    margin-top: 122px;
    .bath-container{
      display: flex;
      // width: 88vw;
      margin-right: auto;
      justify-content: space-between;
      .bath-message{
        // margin-left: 87px;
        padding: 0 10px;
        margin: 0 auto;
        h2{
          font-size: 3.6rem;
          font-weight: normal;
          width: 468px;
        }
        p{
          font-size: 1.6rem;
          line-height: 2;
          // max-width: 416px;
          margin-top: 75px;
        }
        .bath-btn{
          position: relative;
          display: inline-block;
          font-size: 1.6rem;
          color: $black-color;
          text-decoration: none;
          padding: 20px 44px;
          margin-top: 75px;
          z-index: 1;
          @include btn-animation();
        }
      }
      .bath-img{
        height: auto;
        width: 60%;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  // plan
  .plan{
    padding-bottom: 144px;
    margin-top: 78px;
    background-image: url(../images/bg02.png);
    .plan-container{
      text-align: center;
      .logo-img{
        width: 40px;
        height: auto;
        padding-top: 60px;
        margin: 0 auto;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .plan-top{
        font-size: 3.6rem;
        font-weight: normal;
        margin-top: 20px;
      }
      .plan-contents{
        display: flex;
        max-width: 1180px;
        margin: 66px auto 0;
        justify-content: space-between;
        .plan-content1{
          max-width: 331px;
          width: 33%;
          text-align: left;
          margin: 0 10px;
          .plan1-img{
            height: auto;
            width: 100%;
            // max-width: 331px;
            img{
              height: 100%;
              width: 100%;
              // object-fit: cover;
            }
          }
          .plan1-container{
            h3{
              font-size: 2.0rem;
              font-weight: normal;
              margin-top: 32px;
            }
            p{
              font-size: 1.6rem;
              margin-top: 36px;
              line-height: 2;
            }
          }
        }
        .plan-content2{
          max-width: 331px;
          width: 33%;
          text-align: left;
          .plan2-img{
            height: auto;
            width: 100%;
            img{
              height: 100%;
              width: 100%;
              // object-fit: cover;
            }
          }
          .plan2-container{
          margin: 0 10px;
            h3{
              font-size: 2.0rem;
              font-weight: normal;
              margin-top: 32px;
              br{
                display: none;
              }
            }
            p{
              font-size: 1.6rem;
              margin-top: 36px;
              line-height: 2;
            }
          }
        }
        .plan-content3{
          max-width: 331px;
          text-align: left;
          margin: 0 10px;
          width: 33%;
          .plan3-img{
            height: auto;
            width: 100%;
            // max-width: 331px;
            img{
              height: 100%;
              width: 100%;
            }
          }
          .plan3-container{
            h3{
              font-size: 2.0rem;
              font-weight: normal;
              margin-top: 32px;
              br{
                display: none;
              }
            }
            p{
              font-size: 1.6rem;
              margin-top: 36px;
              line-height: 2;
            }
          }
        }
      }
    }
  }
  // news
  .news{
    text-align: center;
    .news-container{
      text-align: center;
      .logo-img{
        width: 40px;
        height: auto;
        padding-top: 60px;
        margin: 0 auto;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .plan-top{
        font-size: 3.6rem;
        font-weight: normal;
        margin-top: 20px;
      }
    }
    .tab{
      width: 216px;
      margin: 46px auto 0;
      display: flex;
      li{
        color: $black-color;
        font-size: 1.6rem;
        text-decoration: none;
        padding: 10px 20px;
        margin: 0 10px -1px 0px;
        border: 1px solid rgb(63, 63, 63);
        list-style: none;
        cursor: pointer;
        transition: .3s;
        &:hover{
          // opacity: 0.7;
          color: #F6F6F6;
          background: rgb(63, 63, 63);
          transition: .6s;
        }
        // &:first-child{
        //   margin-left: 36vw;
        // }
      }
      .active{
        color: #F6F6F6;
        background: rgb(63, 63, 63);
        cursor: auto;
      }
    }
    .news-contents{
      .information{
        display: none;
      }
      .show{
        display: flex;
        flex-direction: row-reverse;
        max-width: 1180px;
        margin: 49px auto 0;
        text-align: center;
        justify-content: space-between;
        .new-contents{
          width: 54%;
        }
        .old-contents{
          width: 54%;
        }
        .new-content{
          color: $black-color;
          display: flex;
          background-color: #F6F6F6;
          max-width: 570px;
          height: 130px;
          margin: 20px 10px 0;
          // margin-left: 46px;
          text-align: left;
          text-decoration: none;
          &:hover{
            opacity: 0.7;
            transition: .6s;
          }
          .news-img{
            height: 100px;
            width: 103px;
            margin-top: 15px;
            margin-left: 10px;
            img{
              height: 100%;
              width: 103px;
            }
          }
          .news-message{
            display: inline-block;
            margin-top: 15px;
            margin-left: 30px;
            max-width: 427px;
            .date{
              font-size: 1.4rem;
  
            }
            .comment{
              display: inline-block;
              font-size: 1.6rem;
              // max-width: 388px;
              width: 100%;
              padding-right: 10px;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
.access{
  // height: 1380px;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 60px;
  text-align: center;
  .logo-img{
    width: 40px;
    height: auto;
    padding-top: 50px;
    margin: 0 auto;
    img{
      width: 100%;
      height: 100%;
    }
  }
  h2{
    font-size: 3.6rem;
    font-weight: normal;
    margin-top: 20px;
  }
  .access-container{
    display: flex;
    max-width: 1180px;
    padding: 0 10px;
    margin: 80px auto 0;
    justify-content: space-between;
    .kadan-img{
      width: 656px;
      height: auto;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .access-address{
      text-align: left;
      margin-left: 83px;
      .mini-title{
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: 10px;
      }
      .address{
        font-size: 1.6rem;
        margin-top: 10px;
        line-height: 2.4;
      }
      .number{
        font-size: 1.6rem;
        margin-top: 20px;
        padding-bottom: 10px;
      }
      .open-time{
        font-size: 1.6rem;
        margin-top: 24px;
      }
      .kome{
        font-size: 1.6rem;
        max-width: 568px;
        margin-top: 24px;
        line-height: 1.8;
      }
    }
  }
  .map-wrapper{
    padding-bottom: 110px;
    margin-top: 69px;
  }
}

footer{
  .footer-container{
    background-image: url(../images/bg3.png);
    background-size: cover;
    background-position: center;
    padding-top: 64px;
    padding-bottom: 61px;
    text-align: center;
    .footer-nav{
      display: flex;
      width: 150px;
      text-align: center;
      margin: 0 auto;
      a{
        color: $black-color;
        font-size: 1.8rem;
        text-decoration: none;
        writing-mode: vertical-rl;
        &:not(:nth-of-type(1)){
          margin-left: 34px;
        }
        &:hover{
          opacity: 0.7;
          transition: .6s;
        }
      }
    }
    .footer-logo{
      width: 145px;
      height: 92px;
      margin: 96px auto 0;
      &:hover{
        opacity: 0.7;
        transition: .6s;
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
    .footer-address{
      display: flex;
      width: 324px;
      text-align: center;
      margin: 72px auto 0;
      p{
        font-size: 1.6rem;
        &:nth-of-type(2){
          margin-left: 21px;
        }
      }
    }
    .footer-number{
      display: flex;
      width: 314px;
      margin: 23px auto 0;
      p{
        font-size: 1.6rem;
        &:nth-of-type(2){
          margin-left: 20px;
        }
      }
    }
  }
  .copyright-wrapper{
    background: #000000;
    padding-top: 23px;
    padding-bottom: 25px;
    text-align: center;
    p{
      color: #FFFFFF;
      font-size: 1.2rem;
    }
  }
}
@media screen and (max-width:950px) {
  main{
    // お部屋について
    .room{
      text-align: center;
      .room-container{
        display: inline-block;
        .room-img{
          width: 90vw;
        }
        .room-message{
          h2{
            margin: 30px auto 0;
            text-align: center;
          }
          p{
            margin: 30px auto 0;
            text-align: center;
          }
          .room-btn{
            border: 1px solid $btn-color;
            &::after,&::before{
              display: none;
            }
            span{
              &::after,&::before{
                display: none;
              }
            }
          }
        }
      }
    }
    // 料理について
    .cook{
      text-align: center;
      .cook-container{
        display: inline-block;
        .cook-img{
          width: 90vw;
        }
        .cook-message{
          h2{
            margin: 30px auto 0;
            text-align: center;
            br{
              display: none;
            }
          }
          p{
            margin: 30px auto 0;

            br{
              &:first-child{
                display: none;
              }
              &:last-child{
                display: none;
              }
            }
          }
          .cook-btn{
            border: 1px solid $btn-color;
            &::after,&::before{
              display: none;
            }
            span{
              &::after,&::before{
                display: none;
              }
            }
          }
        }
      }
    }
    .bath{
      text-align: center;
      .bath-container{
        display: inline-block;
        .bath-img{
          width: 90vw;
        }
        .bath-message{
          h2{
            margin: 30px auto 0;
            br{
              display: none;
            }
          }
          p{
            margin: 30px auto 0;
          }
          .bath-btn{
            border: 1px solid $btn-color;
            &::after,&::before{
              display: none;
            }
            span{
              &::after,&::before{
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .access{
    .map-wrapper{
      width: 80vw;
      height: 60vw;
      margin: 69px auto 0;
      iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media(max-width:920px){
  main{
    .plan{
      background-size: cover;
      .plan-container{
        .plan-contents{
          display: block;
          .plan-content1{
            display: flex;
            max-width: none;
            width: 85vw;
            margin: 0 auto;
            .plan1-img{
              height: 100%;
              img{
                height:100%;
                object-fit: cover;
              }
            }
            .plan1-container{
              width: 50%;
              margin-left: 20px;
              h3{
                margin-top: 0;
              }
            }
          }
          .plan-content2{
            display: flex;
            flex-direction: row-reverse;
            max-width: none;
            width: 85vw;
            margin: 60px auto 0;
            .plan2-img{
              img{
                object-fit: cover;
              }
            }
            .plan2-container{
              width: 50%;
              margin-right: 20px;
              h3{
                margin-top: 0;
                br{
                  display: inline-block;
                }
              }
            }
          }
          .plan-content3{
            display: flex;
            max-width: none;
            width: 85vw;
            margin: 60px auto 0;
            .plan3-img{
              img{
                object-fit: cover;
              }
            }
            .plan3-container{
              width: 50%;
              margin-left: 20px;
              h3{
                margin-top: 0;
                br{
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
    .access{
      .access-container{
        display: inline-block;
        width: 80vw;
        .kadan-img{
          width: 80vw;
          margin: 0 auto;
        }
        .access-address{
          width: 80%;
          margin: 40px auto 0;
          // text-align: center;
          .address{
            br{
              display: none;
            }
          }
          .kome{
            max-width: none;
          }
        }
      }
    }
  }
}
@media(max-width:768px){

  header{
    .header-container{
      justify-content: space-between;
      .menu{
        width: 40px;
        margin-left: 0;
        .reserve{
          display: none;
        }
        nav{
          display: none;
          ul{
            li{
              a{
                display: none;
                margin-left: 0;
              }
            }
          }
        }
      }
      .open{
        z-index: 4;
        nav{
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          z-index: 4;
          width: 80vw;
          height: 100vh;
          background: #fff;
          box-shadow: 0 3px 6px $btn-color;
          .reserve{
            display: inline-block;
            width: 60vw;
            margin-top: 20px;
            margin-bottom: 6px;
            .reserve-container{
              width: 96px;
              margin: 0 auto;
            }
          }
          ul{
            display: inline-block;
            li{
              border-top: 1px solid $black-color;
              a{
                display: inline-block;
                color: $black-color;
                width: 80vw;
                padding: 30px 0;
              }
              &:last-child{
                border-bottom: 1px solid $black-color;
              }
              }
          }
        }
      }
      #btn01{
        display: inline-block;
      }
    }
  }
}
@media(max-width:700px){
  // html{
  //   font-size: 58%;
  // }
  main{
    .first-copy{
      .fc-container{
        width: 90vw;
        padding-top: 182px;
        padding-left: 0px;
        h2{
          font-size: 2.4rem;
          margin-right: 0px;
        }
        .fc-messages{
          .fc-message{
            letter-spacing: 0.4rem;
            line-height: 2;
            font-size: 1.4rem;
          }
        }
        .fc-name{
          margin-top: 240px;
        }
      }
    }
    .room{
      .room-container{
        width: 80vw;
        margin: 0 auto;
        .room-img{
          width: 100%;
          margin: 0 auto;
        }
        .room-message{
          h2{
            width: auto;
            max-width: 432px;
          }
        }
      }
    }
    .cook{
      .cook-container{
        width: 80vw;
        .cook-img{
          width: 100%;
          margin: 0 auto;
        }
      }
    }
    .bath{
      .bath-container{
        width: 80vw;
        .bath-img{
          width: 100%;
          margin: 0 auto;
        }
        .bath-message{
          h2{
            width: auto;
            max-width: 468px;
          }
        }
      }
    }
    .plan{
      .plan-container{
        .plan-contents{
          .plan-content1{
            display: inline-block;
            width: 80vw;
            .plan1-container{
              width: 80%;
              margin: 10px auto 0;
            }
          }
          .plan-content2{
            display: inline-block;
            width: 80vw;
            .plan2-container{
              width: 80%;
              margin: 10px auto 0;
              h3{
                br{
                  display: none;
                }
              }
            }
          }
          .plan-content3{
            display: inline-block;
            width: 80vw;
            .plan3-container{
              width: 80%;
              margin: 10px auto 0;
              h3{
                br{
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .news{
      .news-contents{
        .show{
          display: block;
          .new-contents{
            width: 85%;
            margin: 0 auto;
          }
          .old-contents{
            display: none;
            width: 85%;
            margin: 0 auto;
          }
        }
      }
    }

  }
}
@media(max-width:550px){
  header{
    .header-container{
      .menu{
        .modal-active{
          width: 90vw;
          right: calc(10vw / 2);
        }
      }
    }

  }
}
@media(max-width:500px){
  html{
    font-size: 50%;
  }
  main{
    .fv{
      .fv-container{
        .catch-copy{
          .catch-copy-2{
            margin-left: 30px;
          }
        }
      }
    }
    .plan{
      .plan-container{
        .plan-contents{
          .plan-content1{
            .plan1-container{
              width: 90%;
            }
          }
          .plan-content2{
            .plan2-container{
              width: 90%;
            }
          }
          .plan-content3{
            .plan3-container{
              width: 90%;
            }
          }
        }
      }
    }
  }
  footer{
    .footer-container{
      .footer-address{
        justify-content: space-around;
      }
      .footer-number{
        justify-content: space-around;
      }
    }
  }
}