@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: #fff;
  text-align: center;
  z-index: 3;
  /*=============================
  .btn-trigger
  =============================*/
  /*=============================
  #btn01
  =============================*/
  /*============
  #mask
  =============*/
}

header .btn-trigger {
  position: relative;
  width: 38px;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
}

header .btn-trigger span {
  position: absolute;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 4px;
  z-index: 4;
}

header .btn-trigger, header .btn-trigger span {
  display: inline-block;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 6;
}

header .btn-trigger span:nth-of-type(1) {
  top: 0;
}

header .btn-trigger span:nth-of-type(2) {
  top: 14px;
}

header .btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

header #btn01 .active span:nth-of-type(1) {
  -webkit-transform: translateY(14px) rotate(-45deg);
  transform: translateY(14px) rotate(-45deg);
  background: #fff;
}

header #btn01 .active span:nth-of-type(2) {
  opacity: 0;
}

header #btn01 .active span:nth-of-type(3) {
  -webkit-transform: translateY(-14px) rotate(45deg);
  transform: translateY(-14px) rotate(45deg);
  background: #fff;
}

header #mask {
  display: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}

header #modal_mask {
  display: none;
}

header .open #modal_mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #707070;
  opacity: .7;
  z-index: 2;
  cursor: pointer;
}

header #btn01 {
  display: none;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 13px 20px;
}

header .header-container h1 {
  display: inline-block;
  height: auto;
  width: 200px;
  margin-top: 7px;
}

header .header-container h1 a {
  display: inline-block;
  height: auto;
  width: 200px;
}

header .header-container h1 a:hover {
  opacity: 0.7;
  -webkit-transition: .6s;
  transition: .6s;
}

header .header-container h1 a img {
  height: 100%;
  width: 100%;
}

header .header-container h1 a #scroll-logo {
  display: none;
}

header .header-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 90px;
}

header .header-container .menu nav .reserve {
  display: none;
}

header .header-container .menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 19px;
}

header .header-container .menu nav ul li a {
  display: inline-block;
  color: #333;
  font-size: 1.6rem;
  text-decoration: none;
  margin-left: 30px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

header .header-container .menu nav ul li a:hover {
  opacity: 0.7;
  -webkit-transition: .6s;
  transition: .6s;
}

header .header-container .menu .modal_book {
  display: none;
}

header .header-container .menu .modal-active {
  display: block;
  max-width: 550px;
  position: fixed;
  top: calc((100vh - 660px) / 2);
  right: calc((100vw - 550px) / 2);
  background: #fff;
  margin: 0 10px;
  z-index: 5;
}

header .header-container .menu .modal-active .modal_book_top {
  position: relative;
}

header .header-container .menu .modal-active .modal_book_top a {
  position: absolute;
  top: 20px;
  right: 22px;
  width: 1.8rem;
  height: 1.8rem;
}

header .header-container .menu .modal-active .modal_book_top a img {
  width: 100%;
  height: 100%;
}

header .header-container .menu .modal-active .modal_book_top h4 {
  font-size: 2rem;
  color: #000;
  width: 85%;
  margin: 0 auto;
  padding: 29px;
  border-bottom: 1px solid #e7e7e7;
}

header .header-container .menu .modal-active form .form-container {
  text-align: left;
  width: 85%;
  margin: 0 auto;
}

header .header-container .menu .modal-active form .form-container .name {
  margin-top: 35.5px;
}

header .header-container .menu .modal-active form .form-container .name label {
  color: #000;
  font-size: 1.6rem;
}

header .header-container .menu .modal-active form .form-container .name input {
  width: 100%;
  font-size: 1.4rem;
  border: 1px solid #e7e7e7;
  margin-top: 14px;
  padding: 7px 0 7px 10px;
}

header .header-container .menu .modal-active form .form-container .address {
  margin-top: 14px;
}

header .header-container .menu .modal-active form .form-container .address label {
  color: #000;
  font-size: 1.6rem;
}

header .header-container .menu .modal-active form .form-container .address input {
  width: 100%;
  font-size: 1.4rem;
  border: 1px solid #e7e7e7;
  margin-top: 14px;
  padding: 7px 0 7px 10px;
}

header .header-container .menu .modal-active form .form-container .plan {
  margin-top: 14px;
}

header .header-container .menu .modal-active form .form-container .plan label {
  color: #000;
  font-size: 1.6rem;
}

header .header-container .menu .modal-active form .form-container .plan select {
  width: 100%;
  font-size: 1.4rem;
  border: 1px solid #e7e7e7;
  margin-top: 14px;
  padding: 7px 0 7px 10px;
}

header .header-container .menu .modal-active form .form-container .date-select {
  margin-top: 14px;
}

header .header-container .menu .modal-active form .form-container .date-select label {
  color: #000;
  font-size: 1.6rem;
}

header .header-container .menu .modal-active form .form-container .date-select input {
  font-size: 1.6rem;
  width: 100%;
  margin-top: 14px;
  padding: 2px 0 2px 10px;
  border: 1px solid #E7E7E7;
}

header .header-container .menu .modal-active form .form-container .submit-btn {
  text-align: center;
  margin-top: 64px;
  margin-bottom: 90px;
}

header .header-container .menu .modal-active form .form-container .submit-btn input {
  color: #000;
  font-size: 1.6rem;
  padding: 13px 67px;
  border: 1px solid #707070;
}

header .header-container .menu .reserve {
  display: inline-block;
  color: #fff;
  background: #978F10;
  height: 54px;
  width: 170px;
  padding: 16px 30px;
  text-decoration: none;
}

header .header-container .menu .reserve:hover {
  opacity: 0.7;
  -webkit-transition: .6s;
  transition: .6s;
}

header .header-container .menu .reserve .reserve-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-container .menu .reserve .reserve-container .calender-img {
  height: 22px;
  width: 22px;
}

header .header-container .menu .reserve .reserve-container .calender-img img {
  height: 100%;
  width: 100%;
}

header .header-container .menu .reserve .reserve-container p {
  display: inline-block;
  font-size: 1.6rem;
  margin: 3px 0 0 10px;
}

main .first-view {
  height: 500px;
  width: 100vw;
  background-image: url(../ohuro-images/onsen-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 80px;
}

main .first-view .fv-container {
  text-align: center;
}

main .first-view .fv-container h1 {
  color: #fff;
  font-size: 3.4rem;
  font-weight: normal;
  padding-top: 233px;
}

main .cook-contents {
  text-align: center;
}

main .cook-contents .breadcrump {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1180px;
  padding-left: 10px;
  margin: 36px auto 0;
}

main .cook-contents .breadcrump li {
  list-style: none;
}

main .cook-contents .breadcrump li a {
  color: #333;
  font-size: 1.6rem;
  text-decoration: none;
}

main .cook-contents .breadcrump li:after {
  content: '>';
  font-size: 1.6rem;
  padding: 4px;
}

main .cook-contents .breadcrump li:last-child:after {
  content: '';
}

main .cook-contents .top-message {
  font-size: 1.6rem;
  margin-top: 98px;
  line-height: 2;
}

main .cook-contents .cook-content1 {
  position: relative;
  height: 438px;
  max-width: 1180px;
  margin: 78px auto 0;
}

main .cook-contents .cook-content1 .cook-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .cook-contents .cook-content1 .cook-content-wrapper .bg-img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 813px;
  height: 381px;
  z-index: -1;
}

main .cook-contents .cook-content1 .cook-content-wrapper .bg-img img {
  width: 100%;
  height: 100%;
}

main .cook-contents .cook-content1 .cook-content-wrapper .cook-img1 {
  text-align: left;
  max-width: 525px;
  max-height: 300px;
  height: auto;
}

main .cook-contents .cook-content1 .cook-content-wrapper .cook-img1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .cook-contents .cook-content1 .cook-content-wrapper .cook-content1-container {
  text-align: left;
  margin-top: 117px;
  margin-right: 68px;
  margin-left: 20px;
}

main .cook-contents .cook-content1 .cook-content-wrapper .cook-content1-container h2 {
  font-size: 2.4rem;
  font-weight: normal;
}

main .cook-contents .cook-content1 .cook-content-wrapper .cook-content1-container .message {
  font-size: 1.6rem;
  margin-top: 52px;
  line-height: 2;
}

main .cook-contents .cook-content1 .cook-content-wrapper .cook-content1-container .kome-1 {
  font-size: 1.4rem;
  margin-top: 52px;
}

main .cook-contents .cook-content2 {
  position: relative;
  height: 438px;
  max-width: 1180px;
  margin: 78px auto 0;
}

main .cook-contents .cook-content2 .cook-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .cook-contents .cook-content2 .cook-content-wrapper .bg-img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 813px;
  height: 381px;
  z-index: -1;
}

main .cook-contents .cook-content2 .cook-content-wrapper .bg-img img {
  width: 100%;
  height: 100%;
}

main .cook-contents .cook-content2 .cook-content-wrapper .cook-img2 {
  text-align: left;
  max-width: 525px;
  max-height: 300px;
  height: auto;
}

main .cook-contents .cook-content2 .cook-content-wrapper .cook-img2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .cook-contents .cook-content2 .cook-content-wrapper .cook-content2-container {
  text-align: left;
  margin-top: 117px;
  margin-right: 20px;
  margin-left: 60px;
}

main .cook-contents .cook-content2 .cook-content-wrapper .cook-content2-container h2 {
  font-size: 2.4rem;
  font-weight: normal;
}

main .cook-contents .cook-content2 .cook-content-wrapper .cook-content2-container .message {
  font-size: 1.6rem;
  margin-top: 52px;
  line-height: 2;
}

main .cook-contents .cook-content2 .cook-content-wrapper .cook-content2-container .kome-2 {
  font-size: 1.4rem;
  margin-top: 52px;
}

main .cook-contents .cook-content3 {
  position: relative;
  height: 438px;
  max-width: 1180px;
  margin: 78px auto 0;
}

main .cook-contents .cook-content3 .cook-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .cook-contents .cook-content3 .cook-content-wrapper .bg-img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 813px;
  height: 381px;
  z-index: -1;
}

main .cook-contents .cook-content3 .cook-content-wrapper .bg-img img {
  width: 100%;
  height: 100%;
}

main .cook-contents .cook-content3 .cook-content-wrapper .cook-img3 {
  text-align: left;
  max-width: 525px;
  max-height: 300px;
  height: auto;
}

main .cook-contents .cook-content3 .cook-content-wrapper .cook-img3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .cook-contents .cook-content3 .cook-content-wrapper .cook-content3-container {
  text-align: left;
  margin-top: 117px;
  margin-right: 68px;
  margin-left: 20px;
}

main .cook-contents .cook-content3 .cook-content-wrapper .cook-content3-container h2 {
  font-size: 2.4rem;
  font-weight: normal;
}

main .cook-contents .cook-content3 .cook-content-wrapper .cook-content3-container .message {
  font-size: 1.6rem;
  max-width: 494px;
  margin-top: 52px;
  line-height: 2;
}

main .cook-contents .cook-content3 .cook-content-wrapper .cook-content3-container .kome-3 {
  font-size: 1.4rem;
  margin-top: 52px;
}

footer .footer-container {
  background-image: url(../images/bg3.png);
  background-size: cover;
  background-position: center;
  padding-top: 64px;
  padding-bottom: 61px;
  margin-top: 150px;
  text-align: center;
}

footer .footer-container .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  text-align: center;
  margin: 0 auto;
}

footer .footer-container .footer-nav a {
  color: #333;
  font-size: 1.8rem;
  text-decoration: none;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

footer .footer-container .footer-nav a:not(:nth-of-type(1)) {
  margin-left: 34px;
}

footer .footer-container .footer-logo {
  display: inline-block;
  width: 145px;
  height: 92px;
  margin: 96px auto 0;
}

footer .footer-container .footer-logo img {
  width: 100%;
  height: 100%;
}

footer .footer-container .footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 324px;
  text-align: center;
  margin: 72px auto 0;
}

footer .footer-container .footer-address p {
  font-size: 1.6rem;
}

footer .footer-container .footer-address p:nth-of-type(2) {
  margin-left: 21px;
}

footer .footer-container .footer-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 314px;
  margin: 23px auto 0;
}

footer .footer-container .footer-number p {
  font-size: 1.6rem;
}

footer .footer-container .footer-number p:nth-of-type(2) {
  margin-left: 20px;
}

footer .copyright-wrapper {
  background: #000000;
  padding-top: 23px;
  padding-bottom: 25px;
  text-align: center;
}

footer .copyright-wrapper p {
  color: #FFFFFF;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  header .header-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header-container .menu {
    width: 40px;
    margin-left: 0;
  }
  header .header-container .menu .reserve {
    display: none;
  }
  header .header-container .menu nav {
    display: none;
  }
  header .header-container .menu nav ul li a {
    display: none;
    margin-left: 0;
  }
  header .header-container .open {
    z-index: 4;
  }
  header .header-container .open nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 4;
    width: 80vw;
    height: 100vh;
    background: #fff;
    -webkit-box-shadow: 0 3px 6px #707070;
            box-shadow: 0 3px 6px #707070;
  }
  header .header-container .open nav .reserve {
    display: inline-block;
    width: 60vw;
    margin-top: 20px;
    margin-bottom: 6px;
  }
  header .header-container .open nav .reserve .reserve-container {
    width: 96px;
    margin: 0 auto;
  }
  header .header-container .open nav ul {
    display: inline-block;
  }
  header .header-container .open nav ul li {
    border-top: 1px solid #333;
  }
  header .header-container .open nav ul li a {
    display: inline-block;
    color: #333;
    width: 80vw;
    padding: 30px 0;
  }
  header .header-container .open nav ul li:last-child {
    border-bottom: 1px solid #333;
  }
  header .header-container #btn01 {
    display: inline-block;
  }
  main .cook-contents .cook-content1 {
    height: 580px;
  }
  main .cook-contents .cook-content1 .cook-content-wrapper {
    display: block;
  }
  main .cook-contents .cook-content1 .cook-content-wrapper .bg-img {
    height: 500px;
    margin-left: 10vw;
  }
  main .cook-contents .cook-content1 .cook-content-wrapper .cook-img1 {
    width: 80vw;
  }
  main .cook-contents .cook-content1 .cook-content-wrapper .cook-content1-container {
    width: 70vw;
    margin-top: 46px;
    margin-right: 48px;
    margin-left: auto;
  }
  main .cook-contents .cook-content1 .cook-content-wrapper .cook-content1-container .message {
    margin-top: 32px;
  }
  main .cook-contents .cook-content1 .cook-content-wrapper .cook-content1-container .kome-1 {
    margin-top: 26px;
  }
  main .cook-contents .cook-content2 {
    height: 580px;
  }
  main .cook-contents .cook-content2 .cook-content-wrapper {
    display: block;
  }
  main .cook-contents .cook-content2 .cook-content-wrapper .bg-img {
    height: 500px;
    margin-right: 10vw;
  }
  main .cook-contents .cook-content2 .cook-content-wrapper .cook-img2 {
    width: 80vw;
    margin-left: auto;
  }
  main .cook-contents .cook-content2 .cook-content-wrapper .cook-content2-container {
    width: 70vw;
    margin-top: 46px;
    margin-left: 60px;
  }
  main .cook-contents .cook-content2 .cook-content-wrapper .cook-content2-container .message {
    margin-top: 32px;
  }
  main .cook-contents .cook-content2 .cook-content-wrapper .cook-content2-container .kome-2 {
    margin-top: 26px;
  }
  main .cook-contents .cook-content3 {
    height: 580px;
  }
  main .cook-contents .cook-content3 .cook-content-wrapper {
    display: block;
  }
  main .cook-contents .cook-content3 .cook-content-wrapper .bg-img {
    height: 500px;
    margin-left: 10vw;
  }
  main .cook-contents .cook-content3 .cook-content-wrapper .cook-img3 {
    width: 80vw;
  }
  main .cook-contents .cook-content3 .cook-content-wrapper .cook-content3-container {
    width: 70vw;
    margin-top: 46px;
    margin-right: 48px;
    margin-left: auto;
  }
  main .cook-contents .cook-content3 .cook-content-wrapper .cook-content3-container .message {
    margin-top: 32px;
  }
  main .cook-contents .cook-content3 .cook-content-wrapper .cook-content3-container .kome-3 {
    margin-top: 26px;
  }
}
/*# sourceMappingURL=cook.css.map */