@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

header {
  position: fixed;
  color: #fff;
  height: 80px;
  width: 100%;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 3;
  /*=============================
  .btn-trigger
  =============================*/
  /*=============================
  #btn01
  =============================*/
  /*============
  #mask
  =============*/
}

header .btn-trigger {
  position: relative;
  width: 38px;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
}

header .btn-trigger span {
  position: absolute;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  z-index: 4;
}

header .btn-trigger, header .btn-trigger span {
  display: inline-block;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 6;
}

header .btn-trigger span:nth-of-type(1) {
  top: 0;
}

header .btn-trigger span:nth-of-type(2) {
  top: 14px;
}

header .btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

header #btn01 .active span:nth-of-type(1) {
  -webkit-transform: translateY(14px) rotate(-45deg);
  transform: translateY(14px) rotate(-45deg);
}

header #btn01 .active span:nth-of-type(2) {
  opacity: 0;
}

header #btn01 .active span:nth-of-type(3) {
  -webkit-transform: translateY(-14px) rotate(45deg);
  transform: translateY(-14px) rotate(45deg);
}

header #mask {
  display: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}

header #modal_mask {
  display: none;
}

header .open #modal_mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #707070;
  opacity: .7;
  z-index: 2;
  cursor: pointer;
}

header #btn01 {
  display: none;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 13px 20px;
}

header .header-container h1 {
  display: inline-block;
  height: auto;
  width: 200px;
  margin-top: 7px;
}

header .header-container h1 a {
  display: inline-block;
  height: auto;
  width: 200px;
}

header .header-container h1 a:hover {
  opacity: 0.7;
  -webkit-transition: .6s;
  transition: .6s;
}

header .header-container h1 a img {
  height: 100%;
  width: 100%;
}

header .header-container h1 a #scroll-logo {
  display: none;
}

header .header-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 90px;
}

header .header-container .menu nav .reserve {
  display: none;
}

header .header-container .menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 19px;
}

header .header-container .menu nav ul li a {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  margin-left: 30px;
  color: #fff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

header .header-container .menu nav ul li a:hover {
  opacity: 0.7;
  -webkit-transition: .6s;
  transition: .6s;
}

header .header-container .menu .modal_book {
  display: none;
}

header .header-container .menu .modal-active {
  display: block;
  max-width: 550px;
  position: fixed;
  top: calc((100vh - 660px) / 2);
  right: calc((100vw - 550px) / 2);
  background: #fff;
  margin: 0 10px;
  z-index: 4;
}

header .header-container .menu .modal-active .modal_book_top {
  position: relative;
}

header .header-container .menu .modal-active .modal_book_top a {
  position: absolute;
  top: 20px;
  right: 22px;
  width: 1.8rem;
  height: 1.8rem;
}

header .header-container .menu .modal-active .modal_book_top a img {
  width: 100%;
  height: 100%;
}

header .header-container .menu .modal-active .modal_book_top h4 {
  font-size: 2rem;
  color: #000;
  width: 85%;
  margin: 0 auto;
  padding: 29px;
  border-bottom: 1px solid #e7e7e7;
}

header .header-container .menu .modal-active form .form-container {
  text-align: left;
  width: 85%;
  margin: 0 auto;
}

header .header-container .menu .modal-active form .form-container .name {
  margin-top: 35.5px;
}

header .header-container .menu .modal-active form .form-container .name label {
  color: #000;
  font-size: 1.6rem;
}

header .header-container .menu .modal-active form .form-container .name input {
  width: 100%;
  font-size: 1.4rem;
  border: 1px solid #e7e7e7;
  margin-top: 14px;
  padding: 7px 0 7px 10px;
}

header .header-container .menu .modal-active form .form-container .address {
  margin-top: 14px;
}

header .header-container .menu .modal-active form .form-container .address label {
  color: #000;
  font-size: 1.6rem;
}

header .header-container .menu .modal-active form .form-container .address input {
  width: 100%;
  font-size: 1.4rem;
  border: 1px solid #e7e7e7;
  margin-top: 14px;
  padding: 7px 0 7px 10px;
}

header .header-container .menu .modal-active form .form-container .plan {
  margin-top: 14px;
}

header .header-container .menu .modal-active form .form-container .plan label {
  color: #000;
  font-size: 1.6rem;
}

header .header-container .menu .modal-active form .form-container .plan select {
  width: 100%;
  font-size: 1.4rem;
  border: 1px solid #e7e7e7;
  margin-top: 14px;
  padding: 7px 0 7px 10px;
}

header .header-container .menu .modal-active form .form-container .date-select {
  margin-top: 14px;
}

header .header-container .menu .modal-active form .form-container .date-select label {
  color: #000;
  font-size: 1.6rem;
}

header .header-container .menu .modal-active form .form-container .date-select input {
  font-size: 1.6rem;
  width: 100%;
  margin-top: 14px;
  padding: 2px 0 2px 10px;
  border: 1px solid #E7E7E7;
}

header .header-container .menu .modal-active form .form-container .submit-btn {
  text-align: center;
  margin-top: 64px;
  margin-bottom: 90px;
}

header .header-container .menu .modal-active form .form-container .submit-btn input {
  color: #000;
  font-size: 1.6rem;
  padding: 13px 67px;
  border: 1px solid #707070;
}

header .header-container .menu .reserve {
  display: inline-block;
  color: #fff;
  background: #978F10;
  height: 54px;
  width: 170px;
  padding: 16px 30px;
  text-decoration: none;
}

header .header-container .menu .reserve:hover {
  opacity: 0.7;
  -webkit-transition: .6s;
  transition: .6s;
}

header .header-container .menu .reserve .reserve-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-container .menu .reserve .reserve-container .calender-img {
  height: 22px;
  width: 22px;
}

header .header-container .menu .reserve .reserve-container .calender-img img {
  height: 100%;
  width: 100%;
}

header .header-container .menu .reserve .reserve-container p {
  display: inline-block;
  font-size: 1.6rem;
  margin: 3px 0 0 10px;
}

.change-color {
  background: rgba(255, 255, 255, 0.9);
}

.change-color .header-container h1 a #top-logo {
  display: none;
}

.change-color .header-container h1 a #scroll-logo {
  display: inline-block;
}

.change-color .header-container .menu nav ul li a {
  color: #333;
}

.change-color .header-container .menu .btn-trigger span {
  background-color: #333;
}

.change-color .header-container .menu .active span {
  background: #fff;
}

main .fv {
  position: relative;
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

main .fv .swiper-slide-active .slide-img,
main .fv .swiper-slide-duplicate-active .slide-img,
main .fv .swiper-slide-prev .slide-img {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

main .fv .slide-img {
  height: 100vh;
}

main .fv .slide-img img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

main .fv .fv-container {
  position: absolute;
  top: 37vh;
  left: 67vw;
  z-index: 2;
}

main .fv .fv-container .catch-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .fv .fv-container .catch-copy .catch-copy-1 {
  font-size: 3.4rem;
  color: #fff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 0.8rem;
}

main .fv .fv-container .catch-copy .catch-copy-2 {
  font-size: 3.4rem;
  color: #fff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 0.8rem;
  margin-left: 51px;
}

main .first-copy {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 681px;
}

main .first-copy .fc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  max-width: 1080px;
  padding: 132px 0 0 40px;
  margin: 0 auto;
  vertical-align: middle;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .first-copy .fc-container .fc-name {
  font-size: 2.2rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 0.7rem;
  margin-top: 311px;
}

main .first-copy .fc-container .fc-messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .first-copy .fc-container .fc-messages .fc-message {
  display: inline-block;
  font-size: 1.6rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 0.6rem;
  line-height: 2.5;
}

main .first-copy .fc-container h2 {
  font-size: 2.8rem;
  font-weight: normal;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin-right: 40px;
  text-indent: -6.8rem;
  line-height: 2;
}

main .room {
  margin-top: 106px;
}

main .room .room-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .room .room-container .room-message {
  padding: 0 10px;
  margin: 0 auto;
}

main .room .room-container .room-message h2 {
  font-size: 3.6rem;
  font-weight: normal;
  width: 432px;
}

main .room .room-container .room-message p {
  font-size: 1.6rem;
  line-height: 2;
  max-width: 416px;
  margin-top: 75px;
}

main .room .room-container .room-message .room-btn {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  color: #333;
  text-decoration: none;
  padding: 20px 44px;
  margin-top: 75px;
  z-index: 1;
}

main .room .room-container .room-message .room-btn::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  right: 0;
  top: 0;
  background: #707070;
  /*線の形状*/
  width: 0;
  height: 1px;
  /*アニメーションの指定*/
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  z-index: 1;
}

main .room .room-container .room-message .room-btn::before {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  left: 0;
  bottom: 0;
  background: #707070;
  /*線の形状*/
  width: 0;
  height: 1px;
  /*アニメーションの指定*/
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  z-index: 1;
}

main .room .room-container .room-message .room-btn span {
  display: block;
  z-index: 1;
}

main .room .room-container .room-message .room-btn span::before {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  right: 0;
  bottom: 0;
  background: #707070;
  /*線の形状*/
  width: 1px;
  height: 0;
  /*アニメーションの指定*/
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 1;
}

main .room .room-container .room-message .room-btn span::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  left: 0;
  top: 0;
  background: #707070;
  /*線の形状*/
  width: 1px;
  height: 0;
  /*アニメーションの指定*/
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  z-index: 1;
}

main .room .room-container .room-message .room-btn:hover::before {
  width: 100%;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

main .room .room-container .room-message .room-btn:hover::after {
  width: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

main .room .room-container .room-message .room-btn:hover span::before {
  height: 100%;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

main .room .room-container .room-message .room-btn:hover span::after {
  height: 100%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

main .room .room-container .room-img {
  height: auto;
  width: 60%;
}

main .room .room-container .room-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .cook {
  margin-top: 122px;
}

main .cook .cook-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .cook .cook-container .cook-message {
  margin: 0 auto;
}

main .cook .cook-container .cook-message h2 {
  font-size: 3.6rem;
  font-weight: normal;
}

main .cook .cook-container .cook-message p {
  font-size: 1.6rem;
  line-height: 2;
  margin-top: 75px;
}

main .cook .cook-container .cook-message .cook-btn {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  color: #333;
  text-decoration: none;
  padding: 20px 44px;
  margin-top: 75px;
  z-index: 1;
}

main .cook .cook-container .cook-message .cook-btn::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  right: 0;
  top: 0;
  background: #707070;
  /*線の形状*/
  width: 0;
  height: 1px;
  /*アニメーションの指定*/
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  z-index: 1;
}

main .cook .cook-container .cook-message .cook-btn::before {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  left: 0;
  bottom: 0;
  background: #707070;
  /*線の形状*/
  width: 0;
  height: 1px;
  /*アニメーションの指定*/
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  z-index: 1;
}

main .cook .cook-container .cook-message .cook-btn span {
  display: block;
  z-index: 1;
}

main .cook .cook-container .cook-message .cook-btn span::before {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  right: 0;
  bottom: 0;
  background: #707070;
  /*線の形状*/
  width: 1px;
  height: 0;
  /*アニメーションの指定*/
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 1;
}

main .cook .cook-container .cook-message .cook-btn span::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  left: 0;
  top: 0;
  background: #707070;
  /*線の形状*/
  width: 1px;
  height: 0;
  /*アニメーションの指定*/
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  z-index: 1;
}

main .cook .cook-container .cook-message .cook-btn:hover::before {
  width: 100%;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

main .cook .cook-container .cook-message .cook-btn:hover::after {
  width: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

main .cook .cook-container .cook-message .cook-btn:hover span::before {
  height: 100%;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

main .cook .cook-container .cook-message .cook-btn:hover span::after {
  height: 100%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

main .cook .cook-container .cook-img {
  height: auto;
  width: 60%;
}

main .cook .cook-container .cook-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .bath {
  margin-top: 122px;
}

main .bath .bath-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .bath .bath-container .bath-message {
  padding: 0 10px;
  margin: 0 auto;
}

main .bath .bath-container .bath-message h2 {
  font-size: 3.6rem;
  font-weight: normal;
  width: 468px;
}

main .bath .bath-container .bath-message p {
  font-size: 1.6rem;
  line-height: 2;
  margin-top: 75px;
}

main .bath .bath-container .bath-message .bath-btn {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  color: #333;
  text-decoration: none;
  padding: 20px 44px;
  margin-top: 75px;
  z-index: 1;
}

main .bath .bath-container .bath-message .bath-btn::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  right: 0;
  top: 0;
  background: #707070;
  /*線の形状*/
  width: 0;
  height: 1px;
  /*アニメーションの指定*/
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  z-index: 1;
}

main .bath .bath-container .bath-message .bath-btn::before {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  left: 0;
  bottom: 0;
  background: #707070;
  /*線の形状*/
  width: 0;
  height: 1px;
  /*アニメーションの指定*/
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  z-index: 1;
}

main .bath .bath-container .bath-message .bath-btn span {
  display: block;
  z-index: 1;
}

main .bath .bath-container .bath-message .bath-btn span::before {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  right: 0;
  bottom: 0;
  background: #707070;
  /*線の形状*/
  width: 1px;
  height: 0;
  /*アニメーションの指定*/
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 1;
}

main .bath .bath-container .bath-message .bath-btn span::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  left: 0;
  top: 0;
  background: #707070;
  /*線の形状*/
  width: 1px;
  height: 0;
  /*アニメーションの指定*/
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  z-index: 1;
}

main .bath .bath-container .bath-message .bath-btn:hover::before {
  width: 100%;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

main .bath .bath-container .bath-message .bath-btn:hover::after {
  width: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

main .bath .bath-container .bath-message .bath-btn:hover span::before {
  height: 100%;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

main .bath .bath-container .bath-message .bath-btn:hover span::after {
  height: 100%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

main .bath .bath-container .bath-img {
  height: auto;
  width: 60%;
}

main .bath .bath-container .bath-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .plan {
  padding-bottom: 144px;
  margin-top: 78px;
  background-image: url(../images/bg02.png);
}

main .plan .plan-container {
  text-align: center;
}

main .plan .plan-container .logo-img {
  width: 40px;
  height: auto;
  padding-top: 60px;
  margin: 0 auto;
}

main .plan .plan-container .logo-img img {
  width: 100%;
  height: 100%;
}

main .plan .plan-container .plan-top {
  font-size: 3.6rem;
  font-weight: normal;
  margin-top: 20px;
}

main .plan .plan-container .plan-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1180px;
  margin: 66px auto 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .plan .plan-container .plan-contents .plan-content1 {
  max-width: 331px;
  width: 33%;
  text-align: left;
  margin: 0 10px;
}

main .plan .plan-container .plan-contents .plan-content1 .plan1-img {
  height: auto;
  width: 100%;
}

main .plan .plan-container .plan-contents .plan-content1 .plan1-img img {
  height: 100%;
  width: 100%;
}

main .plan .plan-container .plan-contents .plan-content1 .plan1-container h3 {
  font-size: 2.0rem;
  font-weight: normal;
  margin-top: 32px;
}

main .plan .plan-container .plan-contents .plan-content1 .plan1-container p {
  font-size: 1.6rem;
  margin-top: 36px;
  line-height: 2;
}

main .plan .plan-container .plan-contents .plan-content2 {
  max-width: 331px;
  width: 33%;
  text-align: left;
}

main .plan .plan-container .plan-contents .plan-content2 .plan2-img {
  height: auto;
  width: 100%;
}

main .plan .plan-container .plan-contents .plan-content2 .plan2-img img {
  height: 100%;
  width: 100%;
}

main .plan .plan-container .plan-contents .plan-content2 .plan2-container {
  margin: 0 10px;
}

main .plan .plan-container .plan-contents .plan-content2 .plan2-container h3 {
  font-size: 2.0rem;
  font-weight: normal;
  margin-top: 32px;
}

main .plan .plan-container .plan-contents .plan-content2 .plan2-container h3 br {
  display: none;
}

main .plan .plan-container .plan-contents .plan-content2 .plan2-container p {
  font-size: 1.6rem;
  margin-top: 36px;
  line-height: 2;
}

main .plan .plan-container .plan-contents .plan-content3 {
  max-width: 331px;
  text-align: left;
  margin: 0 10px;
  width: 33%;
}

main .plan .plan-container .plan-contents .plan-content3 .plan3-img {
  height: auto;
  width: 100%;
}

main .plan .plan-container .plan-contents .plan-content3 .plan3-img img {
  height: 100%;
  width: 100%;
}

main .plan .plan-container .plan-contents .plan-content3 .plan3-container h3 {
  font-size: 2.0rem;
  font-weight: normal;
  margin-top: 32px;
}

main .plan .plan-container .plan-contents .plan-content3 .plan3-container h3 br {
  display: none;
}

main .plan .plan-container .plan-contents .plan-content3 .plan3-container p {
  font-size: 1.6rem;
  margin-top: 36px;
  line-height: 2;
}

main .news {
  text-align: center;
}

main .news .news-container {
  text-align: center;
}

main .news .news-container .logo-img {
  width: 40px;
  height: auto;
  padding-top: 60px;
  margin: 0 auto;
}

main .news .news-container .logo-img img {
  width: 100%;
  height: 100%;
}

main .news .news-container .plan-top {
  font-size: 3.6rem;
  font-weight: normal;
  margin-top: 20px;
}

main .news .tab {
  width: 216px;
  margin: 46px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .news .tab li {
  color: #333;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px -1px 0px;
  border: 1px solid #3f3f3f;
  list-style: none;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

main .news .tab li:hover {
  color: #F6F6F6;
  background: #3f3f3f;
  -webkit-transition: .6s;
  transition: .6s;
}

main .news .tab .active {
  color: #F6F6F6;
  background: #3f3f3f;
  cursor: auto;
}

main .news .news-contents .information {
  display: none;
}

main .news .news-contents .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  max-width: 1180px;
  margin: 49px auto 0;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .news .news-contents .show .new-contents {
  width: 54%;
}

main .news .news-contents .show .old-contents {
  width: 54%;
}

main .news .news-contents .show .new-content {
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F6F6F6;
  max-width: 570px;
  height: 130px;
  margin: 20px 10px 0;
  text-align: left;
  text-decoration: none;
}

main .news .news-contents .show .new-content:hover {
  opacity: 0.7;
  -webkit-transition: .6s;
  transition: .6s;
}

main .news .news-contents .show .new-content .news-img {
  height: 100px;
  width: 103px;
  margin-top: 15px;
  margin-left: 10px;
}

main .news .news-contents .show .new-content .news-img img {
  height: 100%;
  width: 103px;
}

main .news .news-contents .show .new-content .news-message {
  display: inline-block;
  margin-top: 15px;
  margin-left: 30px;
  max-width: 427px;
}

main .news .news-contents .show .new-content .news-message .date {
  font-size: 1.4rem;
}

main .news .news-contents .show .new-content .news-message .comment {
  display: inline-block;
  font-size: 1.6rem;
  width: 100%;
  padding-right: 10px;
  margin-top: 10px;
}

.access {
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 60px;
  text-align: center;
}

.access .logo-img {
  width: 40px;
  height: auto;
  padding-top: 50px;
  margin: 0 auto;
}

.access .logo-img img {
  width: 100%;
  height: 100%;
}

.access h2 {
  font-size: 3.6rem;
  font-weight: normal;
  margin-top: 20px;
}

.access .access-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1180px;
  padding: 0 10px;
  margin: 80px auto 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.access .access-container .kadan-img {
  width: 656px;
  height: auto;
}

.access .access-container .kadan-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.access .access-container .access-address {
  text-align: left;
  margin-left: 83px;
}

.access .access-container .access-address .mini-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 10px;
}

.access .access-container .access-address .address {
  font-size: 1.6rem;
  margin-top: 10px;
  line-height: 2.4;
}

.access .access-container .access-address .number {
  font-size: 1.6rem;
  margin-top: 20px;
  padding-bottom: 10px;
}

.access .access-container .access-address .open-time {
  font-size: 1.6rem;
  margin-top: 24px;
}

.access .access-container .access-address .kome {
  font-size: 1.6rem;
  max-width: 568px;
  margin-top: 24px;
  line-height: 1.8;
}

.access .map-wrapper {
  padding-bottom: 110px;
  margin-top: 69px;
}

footer .footer-container {
  background-image: url(../images/bg3.png);
  background-size: cover;
  background-position: center;
  padding-top: 64px;
  padding-bottom: 61px;
  text-align: center;
}

footer .footer-container .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  text-align: center;
  margin: 0 auto;
}

footer .footer-container .footer-nav a {
  color: #333;
  font-size: 1.8rem;
  text-decoration: none;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

footer .footer-container .footer-nav a:not(:nth-of-type(1)) {
  margin-left: 34px;
}

footer .footer-container .footer-nav a:hover {
  opacity: 0.7;
  -webkit-transition: .6s;
  transition: .6s;
}

footer .footer-container .footer-logo {
  width: 145px;
  height: 92px;
  margin: 96px auto 0;
}

footer .footer-container .footer-logo:hover {
  opacity: 0.7;
  -webkit-transition: .6s;
  transition: .6s;
}

footer .footer-container .footer-logo img {
  width: 100%;
  height: 100%;
}

footer .footer-container .footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 324px;
  text-align: center;
  margin: 72px auto 0;
}

footer .footer-container .footer-address p {
  font-size: 1.6rem;
}

footer .footer-container .footer-address p:nth-of-type(2) {
  margin-left: 21px;
}

footer .footer-container .footer-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 314px;
  margin: 23px auto 0;
}

footer .footer-container .footer-number p {
  font-size: 1.6rem;
}

footer .footer-container .footer-number p:nth-of-type(2) {
  margin-left: 20px;
}

footer .copyright-wrapper {
  background: #000000;
  padding-top: 23px;
  padding-bottom: 25px;
  text-align: center;
}

footer .copyright-wrapper p {
  color: #FFFFFF;
  font-size: 1.2rem;
}

@media screen and (max-width: 950px) {
  main .room {
    text-align: center;
  }
  main .room .room-container {
    display: inline-block;
  }
  main .room .room-container .room-img {
    width: 90vw;
  }
  main .room .room-container .room-message h2 {
    margin: 30px auto 0;
    text-align: center;
  }
  main .room .room-container .room-message p {
    margin: 30px auto 0;
    text-align: center;
  }
  main .room .room-container .room-message .room-btn {
    border: 1px solid #707070;
  }
  main .room .room-container .room-message .room-btn::after, main .room .room-container .room-message .room-btn::before {
    display: none;
  }
  main .room .room-container .room-message .room-btn span::after, main .room .room-container .room-message .room-btn span::before {
    display: none;
  }
  main .cook {
    text-align: center;
  }
  main .cook .cook-container {
    display: inline-block;
  }
  main .cook .cook-container .cook-img {
    width: 90vw;
  }
  main .cook .cook-container .cook-message h2 {
    margin: 30px auto 0;
    text-align: center;
  }
  main .cook .cook-container .cook-message h2 br {
    display: none;
  }
  main .cook .cook-container .cook-message p {
    margin: 30px auto 0;
  }
  main .cook .cook-container .cook-message p br:first-child {
    display: none;
  }
  main .cook .cook-container .cook-message p br:last-child {
    display: none;
  }
  main .cook .cook-container .cook-message .cook-btn {
    border: 1px solid #707070;
  }
  main .cook .cook-container .cook-message .cook-btn::after, main .cook .cook-container .cook-message .cook-btn::before {
    display: none;
  }
  main .cook .cook-container .cook-message .cook-btn span::after, main .cook .cook-container .cook-message .cook-btn span::before {
    display: none;
  }
  main .bath {
    text-align: center;
  }
  main .bath .bath-container {
    display: inline-block;
  }
  main .bath .bath-container .bath-img {
    width: 90vw;
  }
  main .bath .bath-container .bath-message h2 {
    margin: 30px auto 0;
  }
  main .bath .bath-container .bath-message h2 br {
    display: none;
  }
  main .bath .bath-container .bath-message p {
    margin: 30px auto 0;
  }
  main .bath .bath-container .bath-message .bath-btn {
    border: 1px solid #707070;
  }
  main .bath .bath-container .bath-message .bath-btn::after, main .bath .bath-container .bath-message .bath-btn::before {
    display: none;
  }
  main .bath .bath-container .bath-message .bath-btn span::after, main .bath .bath-container .bath-message .bath-btn span::before {
    display: none;
  }
  .access .map-wrapper {
    width: 80vw;
    height: 60vw;
    margin: 69px auto 0;
  }
  .access .map-wrapper iframe {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 920px) {
  main .plan {
    background-size: cover;
  }
  main .plan .plan-container .plan-contents {
    display: block;
  }
  main .plan .plan-container .plan-contents .plan-content1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
    width: 85vw;
    margin: 0 auto;
  }
  main .plan .plan-container .plan-contents .plan-content1 .plan1-img {
    height: 100%;
  }
  main .plan .plan-container .plan-contents .plan-content1 .plan1-img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .plan .plan-container .plan-contents .plan-content1 .plan1-container {
    width: 50%;
    margin-left: 20px;
  }
  main .plan .plan-container .plan-contents .plan-content1 .plan1-container h3 {
    margin-top: 0;
  }
  main .plan .plan-container .plan-contents .plan-content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    max-width: none;
    width: 85vw;
    margin: 60px auto 0;
  }
  main .plan .plan-container .plan-contents .plan-content2 .plan2-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .plan .plan-container .plan-contents .plan-content2 .plan2-container {
    width: 50%;
    margin-right: 20px;
  }
  main .plan .plan-container .plan-contents .plan-content2 .plan2-container h3 {
    margin-top: 0;
  }
  main .plan .plan-container .plan-contents .plan-content2 .plan2-container h3 br {
    display: inline-block;
  }
  main .plan .plan-container .plan-contents .plan-content3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
    width: 85vw;
    margin: 60px auto 0;
  }
  main .plan .plan-container .plan-contents .plan-content3 .plan3-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .plan .plan-container .plan-contents .plan-content3 .plan3-container {
    width: 50%;
    margin-left: 20px;
  }
  main .plan .plan-container .plan-contents .plan-content3 .plan3-container h3 {
    margin-top: 0;
  }
  main .plan .plan-container .plan-contents .plan-content3 .plan3-container h3 br {
    display: inline-block;
  }
  main .access .access-container {
    display: inline-block;
    width: 80vw;
  }
  main .access .access-container .kadan-img {
    width: 80vw;
    margin: 0 auto;
  }
  main .access .access-container .access-address {
    width: 80%;
    margin: 40px auto 0;
  }
  main .access .access-container .access-address .address br {
    display: none;
  }
  main .access .access-container .access-address .kome {
    max-width: none;
  }
}

@media (max-width: 768px) {
  header .header-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header-container .menu {
    width: 40px;
    margin-left: 0;
  }
  header .header-container .menu .reserve {
    display: none;
  }
  header .header-container .menu nav {
    display: none;
  }
  header .header-container .menu nav ul li a {
    display: none;
    margin-left: 0;
  }
  header .header-container .open {
    z-index: 4;
  }
  header .header-container .open nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 4;
    width: 80vw;
    height: 100vh;
    background: #fff;
    -webkit-box-shadow: 0 3px 6px #707070;
            box-shadow: 0 3px 6px #707070;
  }
  header .header-container .open nav .reserve {
    display: inline-block;
    width: 60vw;
    margin-top: 20px;
    margin-bottom: 6px;
  }
  header .header-container .open nav .reserve .reserve-container {
    width: 96px;
    margin: 0 auto;
  }
  header .header-container .open nav ul {
    display: inline-block;
  }
  header .header-container .open nav ul li {
    border-top: 1px solid #333;
  }
  header .header-container .open nav ul li a {
    display: inline-block;
    color: #333;
    width: 80vw;
    padding: 30px 0;
  }
  header .header-container .open nav ul li:last-child {
    border-bottom: 1px solid #333;
  }
  header .header-container #btn01 {
    display: inline-block;
  }
}

@media (max-width: 700px) {
  main .first-copy .fc-container {
    width: 90vw;
    padding-top: 182px;
    padding-left: 0px;
  }
  main .first-copy .fc-container h2 {
    font-size: 2.4rem;
    margin-right: 0px;
  }
  main .first-copy .fc-container .fc-messages .fc-message {
    letter-spacing: 0.4rem;
    line-height: 2;
    font-size: 1.4rem;
  }
  main .first-copy .fc-container .fc-name {
    margin-top: 240px;
  }
  main .room .room-container {
    width: 80vw;
    margin: 0 auto;
  }
  main .room .room-container .room-img {
    width: 100%;
    margin: 0 auto;
  }
  main .room .room-container .room-message h2 {
    width: auto;
    max-width: 432px;
  }
  main .cook .cook-container {
    width: 80vw;
  }
  main .cook .cook-container .cook-img {
    width: 100%;
    margin: 0 auto;
  }
  main .bath .bath-container {
    width: 80vw;
  }
  main .bath .bath-container .bath-img {
    width: 100%;
    margin: 0 auto;
  }
  main .bath .bath-container .bath-message h2 {
    width: auto;
    max-width: 468px;
  }
  main .plan .plan-container .plan-contents .plan-content1 {
    display: inline-block;
    width: 80vw;
  }
  main .plan .plan-container .plan-contents .plan-content1 .plan1-container {
    width: 80%;
    margin: 10px auto 0;
  }
  main .plan .plan-container .plan-contents .plan-content2 {
    display: inline-block;
    width: 80vw;
  }
  main .plan .plan-container .plan-contents .plan-content2 .plan2-container {
    width: 80%;
    margin: 10px auto 0;
  }
  main .plan .plan-container .plan-contents .plan-content2 .plan2-container h3 br {
    display: none;
  }
  main .plan .plan-container .plan-contents .plan-content3 {
    display: inline-block;
    width: 80vw;
  }
  main .plan .plan-container .plan-contents .plan-content3 .plan3-container {
    width: 80%;
    margin: 10px auto 0;
  }
  main .plan .plan-container .plan-contents .plan-content3 .plan3-container h3 br {
    display: none;
  }
  main .news .news-contents .show {
    display: block;
  }
  main .news .news-contents .show .new-contents {
    width: 85%;
    margin: 0 auto;
  }
  main .news .news-contents .show .old-contents {
    display: none;
    width: 85%;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  header .header-container .menu .modal-active {
    width: 90vw;
    right: calc(10vw / 2);
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  main .fv .fv-container .catch-copy .catch-copy-2 {
    margin-left: 30px;
  }
  main .plan .plan-container .plan-contents .plan-content1 .plan1-container {
    width: 90%;
  }
  main .plan .plan-container .plan-contents .plan-content2 .plan2-container {
    width: 90%;
  }
  main .plan .plan-container .plan-contents .plan-content3 .plan3-container {
    width: 90%;
  }
  footer .footer-container .footer-address {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .footer-container .footer-number {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */